.container
	%h2 Json Formatter

	= form_tag format_json_path do
		=label :json, 'json input'
		%br
		=text_area_tag :json, @json, rows: 20
		%br
		=submit_tag 'format', class: "btn btn-primary"
	=text_area_tag :format_json, @format_json, rows: 20
	%button.btn.btn-primary#copy.my_clip_button{"data-clipboard-target" => "format_json", "data-clipboard-text" => "Default clipboard text from attribute", :title => "Click me to copy to clipboard."} copy